@model Int32

    @using (Html.BeginForm("BuildSystem", "Employees", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>System Configuration</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @Class = "text-danger" })
            @Html.Hidden("Id", this.Model)
            
            <div class="form-group">
                @Html.Label("Memory", htmlAttributes: new { @Class = "control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("RAM",new List<SelectListItem>() {
                   new SelectListItem(){ Text = "Select" , Value = "Select"},
                   new SelectListItem(){ Text = "8GB" , Value = "8GB"},
                   new SelectListItem(){ Text = "16GB" , Value = "16GB"},
                   new SelectListItem(){ Text = "32GB" , Value = "32GB"},
                   new SelectListItem(){ Text = "64GB" , Value = "64GB"}
               }, htmlAttributes: new {@class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Drive", htmlAttributes: new { @Class = "control-label" })
                <div class="col-md-10">
                    @Html.DropDownList("HDD",new List<SelectListItem>() {
                   new SelectListItem(){ Text = "Select" , Value = "Select"},
                   new SelectListItem(){ Text = "500GB" , Value = "500GB"},
                   new SelectListItem(){ Text = "1TB" , Value = "1TB"},
                   new SelectListItem(){ Text = "2TB" , Value = "2TB"},
                   new SelectListItem(){ Text = "4TB" , Value = "4TB"}
               }, htmlAttributes: new {@class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "", "Index")
    </div>
